{% extends "base.html" %}
{% load static %}

                        {% block nav-bio %}<span class="nav-link active">Bio</span>{% endblock nav-bio %}

{% block content %}
            <div class="content bg-light row rounded left_border">
                <div class="col-md-4">
                    <img class="img-fluid rounded" src="{% static "img/profile.jpg" %}" alt="profile picture">
                </div>
                <div class="col-md-8 align-self-center">
                    <div class="row">
                        <div class="col">
                            <h2>Andrew Thornton</h2>
                            <p>I'm an experienced product and project manager and a budding full-stack web developer.</p>
                            <p>I live, work, and play in Alameda, California.</p>
                            <p>Check out my Blog or Product Ideas, or shoot me a message to say hello.</p>
                        </div>
                    </div>
                    <hr class="hr-light">
                    <div class="row justify-content-center">
                        <a href="https://github.com/awjdthornton" class="btn btn-secondary btn-lrg"><i class="fab fa-github"></i> GitHub</a>
                        <a href="https://www.linkedin.com/in/andrew-w-thornton/" class="btn btn-secondary btn-lrg"><i class="fab fa-linkedin"></i> LinkedIn</a>
                        <a href="https://twitter.com/awjdthornton" class="btn btn-secondary btn-lrg"><i class="fab fa-twitter"></i> Twitter</a>
                    </div>
                </div>
                <div class="col">
                    <hr class="hr-light">
                    <h3>Send me a message</h3>                
                    <form action="/send_email/" method="POST">
                        {% csrf_token %}
                        <div class ="form-group">
                            <label for="name_ctrl">Name</label>
                            <input name="name" class="form-control" id="name_ctrl" />
                        </div>
                        <div class="form-group">
                            <label for="email_ctrl">Email</label>
                            <input name="email" type="email" class="form-control" id="email_ctrl" />
                        </div>
                        <div class="form-group">
                            <label for="msg_ctrl">Message</label>
                            <textarea name="message" class="form-control" id="msg_ctrl"></textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
{% endblock content %}
